.dash-container {
  margin-top: 8rem;
  margin-left: 16rem;
  overflow-x: auto;
  }
  
  .icon-box {
    background-color: white;
    border-radius: 4px;
    padding: 2px;
    margin-left: 10px;
    width: 24px; /* Adjust width and height as needed */
    height: 24px;
  }
  