.header {
    position: fixed;
    top: 0;
    /* left: 72px; */
    width: 100%;
    height: 100px;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--dark);
    font-family: var(--table-header);
    z-index: 1000;
    background-color: #EAEBED;
   }
  
  .headerChild {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    width: 98%;
    height: 100px;
  }
  
  .maskGroupIcon {
    position: absolute;
    top: 20px;
    left: 1268px;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  
  .headerItem {
    position: absolute;
    top: 25px;
    left: 1103px;
    width: 50px;
    height: 50px;
  }
  
  .headerInner {
    position: absolute;
    top: 25px;
    left: 1183px;
    width: 50px;
    height: 50px;
  }
  
  .groupChild {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-21xl);
    background-color: var(--color-whitesmoke-100);
    width: 255px;
    height: 50px;
  }
  
  .magnifyingGlass1Icon {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
  
  .rectangleParent {
    position: absolute;
    top: 25px;
    left: 818px;
    width: 255px;
    height: 50px;
  }
  
  .searchForSomething {
    position: absolute;
    top: 16px;
    left: 60px;
  }
  
  .dashboard {
    position: relative;
    font-weight: 600;
  }
  
  .frameIcon {
    width: 12px;
    position: relative;
    height: 12px;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .dashboardParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    justify-content: flex-start;
    /* gap: var(--gap-3xs); */
  }
  
  .ordersProductDetails {
     position: relative;
    font-size: 33px;
    font-weight: 600;
    color: var(--dark);
  }
  
  .frameParent {
    position: absolute;
    top: 17px;
    left: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-3xs);
    font-size: var(--font-size-lg);
    color: var(--color-darkslateblue);
  }
  .project-name{
    margin-top: 1%;
  }
  